li:nth-child(2n) {
    border: 1px solid black;
    /*Selecciona cada li par, los pares tambien puede ponerse con li:nth-child(even); */
  }
  li:nth-child(1), li:nth-child(2), li:nth-child(3){
      letter-spacing: 10px;
  }

  li:nth-last-child(-n + 1) {
    text-decoration: line-through;
  }